* {
    font-family: 'Roboto', sans-serif;
}

button {
    -webkit-appearance: none;
    padding: 0.5em 1.5em;
    margin: 0.25em;
}
.disabled {
    opacity: 0.25;
    pointer-events: none;
}

.highlight {
    background-color: #eeff00;
}

.verse-link {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 1em;
}
.verse-link:hover,
.verse-link:focus {
    text-decoration: underline;
}